# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea

# gradle
build/
.gradle/

# other runtime artifacts
eclipse/
run/
run-data/

# Files from Forge MDK
forge*changelog.txt

# MacOS garbage
.DS_Store
/src/generated
